name: Verify PR

on:
  pull_request:
    branches: [ "master" ]

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go 1.20
        uses: actions/setup-go@v2
        with:
          go-version: 1.20

      - name: Format code
        run: go fmt ./...

      - name: Test code
        run: go test ./...

      - name: Build code
        run: make build