name: Verify PR

on:
  pull_request:
    branches: [ "master" ]

jobs:
  verify:
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.labels.*.name, 'skip-ci')"
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Go 1.20
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'

      - name: Format code
        run: go fmt ./...

      - name: Test code
        run: go test ./...

      - name: Build code
        run: make build

  e2e-test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.pull_request.labels.*.name, 'skip-ci')"
    needs: verify
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update version & variables
        run: |
          sed -i "s|CHANGE_ME_VERSION|0.0.0-e2e-test|" config/manager/kustomization.yaml
          sed -i "s|CHANGE_ME_VERSION|0.0.0-e2e-test|" Makefile
          sed -i "s|CHANGE_ME_IMAGE|ghcr.io/${{ github.repository }}|" config/manager/kustomization.yaml
          sed -i "s|CHANGE_ME_IMAGE|ghcr.io/${{ github.repository }}|" Makefile

      - name: Install Operator SDK
        run: |
          curl -LO https://github.com/operator-framework/operator-sdk/releases/download/v1.28.0/operator-sdk_linux_amd64
          chmod +x operator-sdk_linux_amd64
          sudo mv operator-sdk_linux_amd64 /usr/local/bin/operator-sdk

      - name: Generate manifests
        run: make bundle

      - name: Build operator
        run: |
          make docker-build

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.5.0
        with:
          cluster_name: e2e-test

      - name: Load operator image into Kind Cluster
        run: |
          kind load docker-image --name e2e-test ghcr.io/${{ github.repository }}:v0.0.0-e2e-test
